<?xml version='1.0' encoding='utf-8'?>
<plugin id="me.mazlum.widgetsettings" version="0.1.0"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>WidgetSettings</name>
  <js-module name="WidgetSettings" src="www/WidgetSettings.js">
    <clobbers target="cordova.plugins.WidgetSettings" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="WidgetSettings">
        <param name="android-package" value="me.mazlum.widgetsettings.WidgetSettings" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/WidgetSettings.java" target-dir="src/me/mazlum/widgetsettings" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="WidgetSettings">
        <param name="ios-package" value="WidgetSettings" />
      </feature>
    </config-file>
    <source-file src="src/ios/WidgetSettings.m" />
  </platform>
</plugin>
